@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.bg-clr{
    background-color: #2d3139;
}
.whychoose_shadow{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



@layer utilities {
    .sec-padding {
      @apply py-[5%] px-[5%] max-lg:p-5 ;
    }
  }
  